
body {
    background-color: beige;
}
.title {
    padding-top: 50px;
    height: 200px;
    text-align: center;
    width: 400px;
    margin: auto;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
    background-color: bisque;
    
}
.btn-container {
    margin:auto;
    height: 100px;
    text-align: center;
    padding-top: 100px;


}
.button{
    background-color: turquoise;
    border-color: darkblue;
    color:darkblue;
    height: 50px;
    width: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.hide-btn{
    visibility: hidden;
}

.question-box {
    background-color: white;
    width: 300px;
    text-align:center;
    margin:auto;
}

.question-answer{
    border-color: red;
    background-color: red;
    width: 300px;
    height: 100px;
    display:inline;
    cursor: pointer;
}

.fail{
    background-color: red;
}

.success{
    background-color: green;
}